<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Energidrikkfabrikken</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/energydrinksList.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/energydrink.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Energidrikkfabrikken.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar" id="navbar">
        <div class="nav--container">
            <a class="nav--home-icon" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="svg/energidrikkfabrikken-logo.svg" alt="energidrikkfabrikken_logo"/>
            </a>
            <button class="nav--burger" type="button" onclick="toggleNavLinks()" id="navBurger" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <img src="svg/burger-ikon.svg" alt="burger_ikon">
            </button>
            <div class="nav--links" id="navLinks">
                <ul class="nav--links--list">
                    <a asp-controller="Home" asp-action="Index">
                        <li class="nav--links--list--item">
                            <img src="svg/hjem-ikon.svg" alt="hjem_ikon"/>
                            Hjem
                        </li>
                    </a>
                    <a class="" asp-controller="Contact" asp-action="Index">
                        <li class="nav--links--list--item white-list-item">
                            <img src="svg/email-ikon.svg" alt="email_ikon"/>
                            Kontakt oss
                        </li>
                    </a>
                    <a class="" asp-controller="EnergydrinksList" asp-action="Index">
                        <li class="nav--links--list--item">
                            <img src="svg/energidrikk-ikon.svg" alt="energidrikk_ikon"/>
                            Våre energidrikker
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="body-content">
    <main role="main" class="">
        @RenderBody()
    </main>
</div>

<footer class="footer">
    <div class="footer--container">
        &copy; 2023 - Energidrikkfabrikken
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>