:root {
  --text-color: #05366C;
  --primary-color: #298FFE;
  --secondary-color: #FE705A;
  --light-blue: #F4F9FF;
  --light-peach: #FFDCDC;
  --white: #FFFFFF;
  --secondary-blue: #B6D4F4;
  
  --max-width: 1200px;
  --min-width: 300px;
  
  --global-padding: 1em;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 1rem;
  color: var(--text-color);
  position: relative;
  min-height: 100%;
  min-width: var(--min-width);
  background: radial-gradient(290.68% 290.68% at 50% -46.14%, #FFFFFF 0%, #227DDF 92.39%);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

button {
  cursor: pointer;
  transition: transform 1000ms, filter 500ms;
}

button:hover, button:focus-visible {
  filter: brightness(115%);
  transform: translateY(-0.3rem);
  transition: transform 250ms, filter 250ms;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  background-color: var(--secondary-blue);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  z-index: 1;
}

.nav--container {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: auto;
}

.nav--home-icon {
  padding: 1em;
}

.nav--home-icon img {
  width: 8rem
}

.nav--burger {
  position: absolute;
  right: 1em;
  top: 1.2em;
  display: none;
  background-color: transparent;
  display: flex;
  align-items: center;  
  justify-content: center;
  border: none;
}

.nav--burger img {
  width: 2rem;
}

.nav--links {
  width: 100%;
  background-color: var(--white);
}

.nav--links--list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav--links--list--item {
  text-decoration: none;
  display: flex;
  gap: 0.7em;
  padding: 1.5em 1em;
  cursor: pointer;
  font-weight: 500;
  transition: transform 500ms, filter 300ms;
  border-top: #EDF3FA 0.1rem solid;
  background-color: #FBFCFE;
}

.white-list-item {
  background-color: var(--white);
}

.nav--links--list--item:hover, .nav--links--list--item:focus-visible {
  filter: brightness(150%);
  transform: translateY(-0.2rem);
  transition: transform 150ms, filter 150ms;
}

.nav--links--list--item img {
  width: 1.4rem;
}

.nav--links--list--item a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

body {
  margin: 0;
}

.body-content {
  margin: 4em auto;
  max-width: var(--max-width);
  padding: var(--global-padding);
}


.footer {
  padding: 2em var(--global-padding);
  background-color: var(--secondary-blue);
}

.footer--container {
  display: flex;
  max-width: var(--max-width);
  margin: auto;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .body-content {
    margin: 5em auto;
  }
  
  .navbar {
    padding: 0.3em 0;
  }

  .nav--links--list {
    display: flex;
    gap: 0.5em;
    padding: 0;
  }

  .nav--links--list--item {
    background-color: transparent;
    border: none;
    padding: 1em;
    gap: 0.3em;
  }
  
  .body-content {
    margin: 5rem auto;
  }

  .nav--links {
    background-color: transparent;
    width: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}