:root {
  --text-color: #05366C;
  --primary-color: #298FFE;
  --secondary-color: #FE705A;
  --light-blue: #F4F9FF;
  --light-peach: #FFDCDC;
  --white: #FFFFFF;
  --secondary-blue: #B6D4F4;
  
  --max-width: 1200px;
  --min-width: 300px;
  
  --global-padding: 1em;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 1rem;
  color: var(--text-color);
  position: relative;
  min-height: 100%;
  min-width: var(--min-width);
  background: radial-gradient(290.68% 290.68% at 50% -46.14%, #FFFFFF 0%, #227DDF 92.39%);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

button {
  cursor: pointer;
  transition: transform 1000ms, filter 500ms;
}

button:hover, button:focus-visible {
  filter: brightness(115%);
  transform: translateY(-0.3rem);
  transition: transform 250ms, filter 250ms;
}

button:active {
  color: #B6D4F4;
}

.box-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.box-shadow2 {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
  z-index: 1;
  transition: background-color 0.1s ease-in-out;
}

.nav--container {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: auto;
}

.nav--home-icon {
  padding: 1em;
}

.nav--home-icon img {
  width: 8rem
}

.nav--burger {
  position: absolute;
  right: 1em;
  top: 1.2em;
  background-color: transparent;
  display: flex;
  align-items: center;  
  justify-content: center;
  border: none;
}

.nav--burger img {
  width: 2rem;
}

.nav--links {
  width: 100%;
  background-color: var(--white);
}

.nav--links--list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav--links--list--item {
  text-decoration: none;
  display: flex;
  gap: 0.7em;
  padding: 1.5em 1em;
  cursor: pointer;
  font-weight: 500;
  transition: transform 500ms, filter 300ms;
  border-top: #EDF3FA 0.1rem solid;
  background-color: #FBFCFE;
}

.white-list-item {
  background-color: var(--white);
}

.nav--links--list--item:hover, .nav--links--list--item:focus-visible {
  filter: brightness(150%);
  transform: translateY(-0.2rem);
  transition: transform 150ms, filter 150ms;
}

.nav--links--list--item img {
  width: 1.4rem;
}

.nav--links--list--item a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

.shopping-cart-wrapper {
  position: absolute;
  top: 4.4rem;
  right: 0;
  width: 100%;
  background-color: var(--light-blue);
  padding: 1em;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
  display: none;
}

.shopping-cart--h2 {
  font-weight: 600;
  margin: 0.3em 0 0 0;
}

.shopping-cart-close--btn {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 1em;
  right: 1em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.shopping-cart-close--btn img {
  width: 65%;
}

.shopping-cart--content {
  width: 100%;
  margin-top: 1em;
}

.shopping-cart--content--table {
  width: 100%;
  border-spacing:0;
}

.shopping-cart--content--table tr {
  
}

.shopping-cart--content--table th {
  border-bottom: var(--secondary-blue) solid 0.1rem;
  text-align: left;
  padding: 0.7em 1em 0.7em 0;
  width: 15%;
}

.shopping-cart--content--table th:first-of-type {
  width: 40%;
}

.shopping-cart--content--table td {
  padding: 0.7em 1em 0.7em 0;
  font-weight: 500;
}

.shopping-cart--content--table--td-delete-btn {
  background-color: transparent;
  border: none;
}

.shopping-cart--content--table--td-delete-btn img {
  width: 1.3rem;
}

.shopping-cart--content--table--total-price-tr td {
  border-top: var(--secondary-blue) solid 0.1rem;
  font-weight: 600;
  min-width: 4.1rem;
}

.shopping-cart--content--order-btn {
  margin-top: 1em;
  border: none;
  background-color: var(--secondary-color);
  color: var(--white);
  font-weight: 500;
  font-size: 1rem;
  padding: 1em;
  border-radius: 0.3rem;
}

.shopping-cart--content--h3 {
  font-weight: 600;
}

.feedback-wrapper {
  position: absolute;
  top: 4.4rem;
  right: 0;
  width: 100%;
  background-color: var(--light-blue);
  padding: 1em;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
  visibility: hidden;
  display: flex;
  gap: 1em;
}

.feedback--img {
  width: 3rem;
}

.feedback--text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.feedback--text--h3 {
  font-size: 1.2rem;
}

.feedback--text--h3, .feedback--text--p {
  margin: 0;
}


body {
  margin: 0;
  padding: 0;
}

.body-content {
  margin: 4em auto 0 auto;
  max-width: var(--max-width);
  padding: var(--global-padding) var(--global-padding) 5em var(--global-padding);
  overflow: hidden;
}

.footer {
  padding: 3em var(--global-padding);
  background-color: var(--secondary-blue);
  min-height: 20vh;
}

.footer--container {
  display: flex;
  max-width: var(--max-width);
  margin: auto;
}

.background-splash1 {
  animation: 0.5s noDisplay, 0.5s ease-in-out fadeIn reverse 0.5s;
  background: url("../images/water-splash1.png") no-repeat;
  background-size: contain;
  width: 30rem;
  height: 20rem;
  position: absolute;
  top: 5rem;
  left: -18rem;
  z-index: -1;
}

.background-splash2 {
  animation: 0.5s noDisplay, 0.5s ease-in-out fadeIn reverse 0.5s;
  background: url("../images/water-splash1.png") no-repeat;
  background-size: contain;
  background-position-x: 23rem;
  width: 30rem;
  height: 20rem;
  position: absolute;
  top: 60rem;
  right: 0;
  z-index: -1;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .shopping-cart--content--table th {
    width: 20%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .body-content {
    margin: 5em auto 0 auto;
    padding: var(--global-padding) var(--global-padding) 15em var(--global-padding);
  }
  
  .navbar {
    padding: 0.3em 0;
  }

  .nav--links--list {
    display: flex;
    gap: 0.5em;
    padding: 0;
  }

  .nav--links--list--item {
    background-color: transparent;
    border: none;
    padding: 1em;
    gap: 0.3em;
  }

  .nav--links {
    background-color: transparent;
    width: auto;
  }


  .shopping-cart-wrapper, .feedback-wrapper {
    position: absolute;
    top: 5.7rem;
    right: 1em;
    left: 1em;
    margin-left: auto;
    border-radius: 0.3rem;
    padding: 1.5em;
  }

  .shopping-cart-wrapper {
    max-width: 40rem;
    transition: visibility 0.3s ease-in-out ;
  }

  .feedback-wrapper {
    max-width: 25rem;
  }

  .background-splash1 {
    top: 10rem;
    left: -17rem;
  }

  .background-splash2 {
    top: 50rem;
    background-position-x: 20rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}

@keyframes fadeInFromBottom {
  0% {
    transform: translateY(1rem);
    filter: opacity(0);
  }

  80% {
    transform: translateY(-0.1rem);
  }

  100% {
    transform: translateY(0);
    filter: opacity(1);
  }
}

@keyframes fadeIn {
  to { filter: opacity(0);}
  from { filter: opacity(1);}
}

@keyframes noDisplay {
  to { filter: opacity(0);}
  from { filter: opacity(0);}
}

@keyframes feedbackAnimation {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  15% {
    visibility: visible;
    opacity: 100%;
  }

  85% {
    visibility: visible;
    opacity: 100%;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

